/* ===== CONFIGURAÇÃO GERAL DA PÁGINA ===== */

body {
  margin: 0;
  background: #91ff026e;
  color: #ffffff;
}

/* Caixa principal da aplicação */
.container {
  max-width: 720px;
  margin: 40px auto;
  padding: 24px;
  font-family: Arial, sans-serif;
}

/* Título principal */
h1 {
  margin-bottom: 24px;
  font-size: 32px;
  color: #ffd415;
}

/* ===== FORMULÁRIO DE CRIAÇÃO ===== */

/* Área do formulário */
.task-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #0018f0;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  margin-bottom: 32px;
}

/* Inputs e select */
.task-form input,
.task-form select {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

/* Quando clica dentro do input */
.task-form input:focus,
.task-form select:focus {
  border-color: #2563eb;
}

/* Botão de adicionar */
.task-form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Quando passa o mouse no botão */
.task-form button:hover {
  background: #1d4ed8;
}

/* ===== LISTA DE TAREFAS ===== */

/* Área onde ficam os cards */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Cada tarefa individual */
.task-card {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 18px;
}

/* Título da tarefa */
.task-card h2 {
  margin: 0 0 8px;
  font-size: 20px;
  color: #111827;
}

/* Descrição da tarefa */
.task-card p {
  margin: 0 0 12px;
  color: #4b5563;
  font-size: 14px;
}

/* Status da tarefa */
.task-card span {
  display: inline-block;
  font-size: 13px;
  background: #e0ecff;
  color: #1d4ed8;
  padding: 5px 10px;
  border-radius: 999px;
  font-weight: bold;
}